.events-container{
  background-image: url('https://res.cloudinary.com/dt9nmt0n0/image/upload/v1727018915/OC1Y8F0_sqzsmn.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  padding-top: 80px;
}
.events-page{
  padding: 0px;
}
.events-heading{
  color: #ffce10;
}
.events-type-container{
  display:flex;
  justify-content: space-around;
  width: 80%;
  color: white;
}
.technical-container{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f3dce042;
  border-radius: 20px;
  width: 200px;
  margin: 10px;
  align-items: center;
  box-shadow: 0 0px 20px 0 rgb(255, 255, 255); 

}
.events-subHeading{
  font-weight: bold;
}
.technical-events-picture{
  width: 250px;
  border-radius: 25px;
  opacity: 0.8;
  height: 250px;
}
.click-here-button{
  background-color: #0785de;
  border: 0px solid;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-top:20px;
  font-weight: bold;
}

@media (min-width: 990px ) {
  .technical-events-picture{
   width: 300px;
  }
  .technical-container{
    width: 400px;
  }
}
@media (max-width: 576px) {
  .events-type-container{
    flex-direction: column;
  }
  .technical-events-picture{
    width: 150px;
    height: 200px;
   }
   .technical-container{
     width: 200px;
   }
   .click-here-button{
    width: 150px;
   }
}