.events-container{
  background-image: url('https://res.cloudinary.com/dt9nmt0n0/image/upload/v1727018915/OC1Y8F0_sqzsmn.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  padding-top: 80px;
}
.events-page{
  padding: 0px;
}
.events-heading{
  color: #ffce10;
}
.events-type-container{
  display:flex;
  justify-content: space-around;
  width: 80%;
  color: white;
}
.technical-container{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background-color: #ffffff42;
  border-radius: 20px;
  width: 200px;
  margin: 10px;
  align-items: center;
  transition-duration: 150ms; 
}
.technical-container:hover{
  box-shadow: 0 0px 20px 0 rgb(255, 255, 255);
  background-color: #c3a603e1;
  scale: 1.1;
}
.events-subHeading{
  font-weight: bold;
}
.technical-events-picture{
  width: 200px;
  border-radius: 25px;
  height: 200px;
}

.click-here-button{
  color:#0275c7;
  border: 2px solid #0785de;
  padding: 10px;
  border-radius: 5px;
  margin-top:20px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0.838);
  transition-duration:150ms;

}
.click-here-button:hover{
  scale: 1.2;
  background-color: #0785de;
  color: white;
  box-shadow: 0 0px 20px 0 rgb(255, 255, 255); 
}

@media (min-width: 990px ) {
  .technical-events-picture{
   width: 200px;
   height: 200px;
  }
  .technical-container{
    width: 300px;
  }
  .events-container{
    background-image: url('https://res.cloudinary.com/dt9nmt0n0/image/upload/v1727853307/background_pic_clg_pnshef.jpg');
  }
}
@media (max-width: 576px) {
  .events-container{
    background-image: url('https://res.cloudinary.com/dt9nmt0n0/image/upload/v1727866757/background_pic_clg_mobile_smal_is5uir.jpg');
  }
  .events-type-container{
    flex-direction: column;
    align-items: center;
  }
  .technical-events-picture{
    width: 150px;
    height: 200px;
   }
   .technical-container{
     width: 200px;
   }
   .click-here-button{
    width: 150px;
   }
}