
.about-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  padding-top: 80px;
  height: 100vh;
  overflow-y: auto;
  background-image: url('https://res.cloudinary.com/dt9nmt0n0/image/upload/v1727853307/background_pic_clg_pnshef.jpg');
  background-size: cover;
 }
 
 .about-content-container{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   text-align: center;
 }
 .about-heading{
   color: #ffce10;
 }

 .about-text{
  color: white;
  width: 80%;
  font-size: 20px;
  text-align: justify;
 }
 .bolding-text{
  font-weight: bold;
  color: #ffce10;
 }
 .memories-image{
  width: 450px;
  margin: 10px;
 }
 .memories-image1{
  align-self: flex-start;
 }
 .memories-image2{
  align-self: flex-end;
 }
 .memories-image3{
  align-self: flex-start;
 }
 .memories-image4{
  align-self: flex-end;
 }
 .images-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
 }
@media (max-width:768px) {
  .about-container{
    padding: 10px;
    padding-top: 80px;
    background-image: url('https://res.cloudinary.com/dt9nmt0n0/image/upload/v1727866757/background_pic_clg_mobile_smal_is5uir.jpg');
  }
  .about-heading{
    color: #ffce10;
    font-weight: normal;
  }
  .about-text{
    text-align: justify;
  }
  .memories-image{
    width: 250px;
    margin: 10px;
   }
   .memories-image1{
    align-self: flex-start;
   }
   .memories-image2{
    align-self: flex-end;
   }
   .memories-image3{
    align-self: flex-start;
   }
   .memories-image4{
    align-self: flex-end;
   }
   .images-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
   }
}