.non-tech-events-page{
  display: flex;
  flex-direction: column;
}
.non-tech-events-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;background-image: url('https://res.cloudinary.com/dt9nmt0n0/image/upload/v1727018915/OC1Y8F0_sqzsmn.jpg');
  background-size: cover;
  padding: 20px;
  padding-top: 80px;
  text-align: center;
}
.non-tech-event-heading{
  color: #ffce10;
  margin: 10px;
}
.non-tech-event-holder{
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 85%;
  padding: 20px;
  border-radius: 10px;
}
.non-tech-event-card{
  list-style-type: none;
  background-color: #f3dce042;
  margin: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px ;
  width: 250px;
  text-align: center;
  transition-duration: 150ms;
}
.non-tech-event-card:hover{
  background-color: #c3a603e1;
  box-shadow: 0 0px 20px 0 rgb(255, 255, 255); 
  scale: 1.1;
}
.non-tech-event-images{
  width: 180px;
  border-radius: 20px;
}
.heading{
  font-weight: normal;
  color: white;
}
.non-tech-moreDetail-button{
  background-color: white;
  border: 2px solid #0785de;
  padding: 10px;
  border-radius: 5px;
  color: #0785de;
  margin:20px;
  font-weight: bold;
  transition-duration: 150ms;
}
.non-tech-moreDetail-button:hover{
  background-color: #0785de;
  color: white;
  scale: 1.1;
  box-shadow: 0 0px 20px 0 rgb(255, 255, 255); 
}
@media (max-width: 768px) {
  .non-tech-event-holder{
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
.non-tech-event-card{
  width: 250px;
  flex-grow: 0;
}
.non-tech-event-images{
  width: 150px;
}
.non-tech-moreDetail-button{
  width: 150px;
}
.heading{
  font-weight: normal;
}
}