.non-tech-events-page{
  display: flex;
  flex-direction: column;
}
.non-tech-events-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;background-image: url('https://res.cloudinary.com/dt9nmt0n0/image/upload/v1727018915/OC1Y8F0_sqzsmn.jpg');
  background-size: cover;
  padding: 20px;
  padding-top: 80px;
}
.non-tech-event-heading{
  color: #ffce10;
}
.non-tech-event-holder{
  background-color: #ffffff85;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
}
.non-tech-event-card{
  list-style-type: none;
  background-color: #ffce10;
  box-shadow: 0 2px 10px 0 rgb(37, 36, 36); 
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px ;
  width: 300px;
  text-align: center;
  flex-shrink: 1;
  flex-grow: 1;
}
.non-tech-event-images{
  width: 250px;
}
.heading{
  color: black;
}
.non-tech-moreDetail-button{
  background-color: #0785de;
  border: 0px solid;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin:20px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .non-tech-event-holder{
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
.non-tech-event-card{
  width: 250px;
  flex-grow: 0;
}
.non-tech-event-images{
  width: 150px;
}
.non-tech-moreDetail-button{
  width: 150px;
}
.heading{
  font-weight: normal;
}
}